{% extends "base.html" %}
{% block title %}janre{% endblock title %}
{% block content %}
<div>
    <h5>{{janre.name}}</h5>
    <a href="{% url "janre_update" janre.id %}" class="card-link">update</a>
    <a href="{% url "janre_delete" janre.id %}" class="card-link">delete</a>
</div>

<div>
    {% for film in film_janre %}
    <a href = "{% url "film_detail" film.id %}">
    <div class="card" style="width: 18rem;">
        <img src="{{film.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{film.name}}</h5>
          <p class="card-text">{{film.janre}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{film.created_on}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">order</a>
          <a href="{% url "trailer" film.id %}" class="card-link">see trailer</a>
        </div>
      </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}